---
import Layout from '../layouts/Layout.astro';
import "../Estilos/Estilos.scss";
import 'animate.css';
---

<Layout title="Inicio.">
	<section id="Portada">
		<div class="...">
			<img src="/Portada/Index.png" alt="Portada Srikandi" style="width: 100%;">
		</div>	
	</section>

	<section id="Presentacion" class="container-fluid bg-2 text-center">
		<div class="row">
			
			<div class="col-lg-6" >
				
				<h2 class="animate__animated animate__fadeInUp animate__repeat-3" style="text-align:center; margin-top:100px; margin-left:110px; margin-bottom:60px; color: #F1D418; ">Claudia MJ</h2>
				
				<p style="font-size: 18px; text-align: justify; margin-left:170px; margin-right:45px; color: #f4f4f4;" class="fontc">¡Hola! Soy Claudia, estudiante en la Licenciatura en Artes Digitales. Mi trabajo se centra en la creación de fotografía de retrato, vídeo musical y documental.</p>
				<p style="font-size: 18px; text-align: justify; margin-left:170px; margin-right:45px; color: #f4f4f4;" class="fontc"> He participado con diversas productoras en la creación de vídeos y en mis tiempos libres trabajo en mis proyectos de fotografía y vídeo. </p>
				<p style="font-size: 18px; text-align: justify; margin-left:170px; margin-right:45px; color: #f4f4f4;" class="fontc"> Me apasiona escuchar ideas espontaneas y convertirlas en una realidad que se pueda visualizar.</p>
				
			</div>
			
			<div class="col-lg-6">
				<img src="/FotoB.png" alt="" style="width:68%; margin-top: 60px; margin-bottom:90px " class="img-responsive">
			</div>
		
		</div>
	</section>

	<section id="SeparadorServicios" class=" bg-3 text-center" style="background-color:#f4f4f4;">
		<div class="bg-sn">
			<p style="font-size: 6px;">-.-</p>
			<h1 style="color: #F4F4F4;"> Servicios </h1>
		</div>
	</section>

	<section id="Servicios" class="bg-3" style="padding-top:50px;">
		<div class="container">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
				  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Fotografía</button>
				</li>
				<li class="nav-item" role="presentation">
				  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Vídeo</button>
				</li>
			  </ul>
			  <div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
					<div class="container text-center">
						<div class="row">
						  <div class="col-5"><img src="/FotoG.png" alt="" style="width:120%; margin-left: -120px;" class="img-responsive"></div>
						  <div class="col-7 text-start" style="margin-top:150px;">
							<div class="d-flex align-items-start">
								<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Estudio</button>
								  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Exterior</button>
								  <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Temática</button>
								  <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Producto</button>
								</div>
								<div class="tab-content text-center" id="v-pills-tabContent">
								  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
									<h4 style="margin-top:-120px;">Fotografía de retrato o cuerpo completo, realizada en estudio de fotografía.</h4>
									<img src="/FotoJ8.png" alt="" style="width:60%; margin-top: 20px;  " class="img-responsive">
								 </div>
								  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
									
									<h4 style="margin-top:-120px;">Fotografía de retrato o cuerpo completo en locación seleccionada.</h4>
									<img src="/FotoJ9.png" alt="" style="width:60%; margin-top: 20px;" class="img-responsive">
								  </div>
								  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
			
									<h4 style=" margin-top:-120px;">Fotografía de retrato o cuerpo completo en interior o exterior con temática seleccionada.</h4>
									<img src="/FotoJ10.png" alt="" style="width:60%; margin-top: 20px; " class="img-responsive">
								  </div>
								  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
									
									<h4 style="margin-top:-120px;">Fotografía en estudio de producto, de acuerdo a las necesidades de este.</h4>
									<img src="/FotoJ11.png" alt="" style="width:60%; margin-top: 20px; " class="img-responsive">
								  </div>
								</div>
							  </div>
						  </div>
						</div>
				</div>
				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
					<div class="container text-center">
						<div class="row">
						  <div class="col-5"><img src="/FotoF.png" alt="" style="width:120%; margin-left: -120px;" class="img-responsive"></div>
						  <div class="col-7 text-start" style="margin-top:150px;">
							<div class="d-flex align-items-start">
								<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								  <button class="nav-link active" id="v-pills-pre-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pre" type="button" role="tab" aria-controls="v-pills-pre" aria-selected="true">Preproducción</button>
								  <button class="nav-link" id="v-pills-pro-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pro" type="button" role="tab" aria-controls="v-pills-pro" aria-selected="false">Producción</button>
								  <button class="nav-link" id="v-pills-post-tab" data-bs-toggle="pill" data-bs-target="#v-pills-post" type="button" role="tab" aria-controls="v-pills-post" aria-selected="false">Postproducción</button>
								</div>
								<div class="tab-content text-center" id="v-pills-tabContent">
								  <div class="tab-pane fade show active" id="v-pills-pre" role="tabpanel" aria-labelledby="v-pills-pre-tab" tabindex="0">
									<h4 style="margin-top:-120px;" >Desarrollo de idea y planificación de proyecto para su realización.</h4>
									<img src="/FotoJ5.png" alt="" style="width:60%; margin-top: 20px;" class="img-responsive">
								 </div>
								  <div class="tab-pane fade" id="v-pills-pro" role="tabpanel" aria-labelledby="v-pills-pro-tab" tabindex="0">
									
									<h4 style="margin-top:-120px;" >Grabación de video de acuerdo a la planificación del proyecto.</h4>
									<img src="/FotoJ6.png" alt="" style="width:60%; margin-top: 20px; " class="img-responsive">
								  </div>
								  <div class="tab-pane fade" id="v-pills-post" role="tabpanel" aria-labelledby="v-pills-post-tab" tabindex="0">
			
									<h4 style=" margin-top:-120px;">Edición de video y detalles finales. Creación de promocionales para redes sociales.</h4>
									<img src="/FotoJ7.png" alt="" style="width:60%; margin-top: 20px;" class="img-responsive">
								  </div>
								  
								</div>
							  </div>
						  </div>
						</div>
			  </div>
			</div>
			</div>
		</div>
	</section>

	<section id="InvitacionTrabajo" class=" bg-1 text-center">
		<div class="container">
			<div class="container text-center">
				<div class="row">
				  <div class="col">
					<img src="/FotoC.png" alt="" style="width:120%; margin-top:50px; margin-bottom:50px; margin-left:-40px;" class="img-responsive">
				  </div>
				  <div class="col">
					<img src="/FotoD.png" alt="" style="width:120%; margin-top:50px; margin-bottom:50px; margin-left:-40px;" class="img-responsive">
				  </div>
				  <div class="col">
					<img src="/FotoE.png" alt="" style="width:120%; margin-top:50px; margin-bottom:50px; margin-left:-40px;" class="img-responsive">
				  </div>
				  <div class="col"style="color: #f4f4f4">
					<h4 style="margin-top:60px;  padding-bottom: 20px;">Conoce aquí mi trabajo.</h4>
					<a href="fotografia"><img src="/BotonF.png" alt="" style="width:71%; padding-bottom: 20px;"></a>
					<a href="video"><img src="/BotonV.png" alt="" style="width:70%; "></a>
				  </div>
			    </div>
		    </div>
		</div>
	</section>
	<div class="bg-3">
		<section id="Redes" class=" bg-rs text-center" style="padding-top:20px; padding-bottom:50px;">
			<div class="row">
				<div class="col-6">
					<div class="container">
						<div class="row" style=" margin-top:70px; margin-bottom: 160px;">
						  <div class="col-6 text-end"><a href="https://www.instagram.com/claudia.9mj/"><img src="/BontonI.png" alt="" style="width:40%;" class="img-responsive"></a></div>
						  <div class="col-6 text-start"><a href="https://www.youtube.com/channel/UCyAS1DkmuhMzQ2-60pALGDQ"><img src="/BotonY.png" alt="" style="width:40%;" class="img-responsive"></a></div>
						</div>
					</div>
				</div>
			 </div>
		</section>
	</div>
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 50;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
</style>
