---
import Layout from '../layouts/Layout.astro';
import 'animate.css';
import BootstrapCard from '../components/BootstrapCard.astro';
---

<Layout title="Proyecto">

	<main class="bg-3">
		<section id="Explicación Proyecto" class="container-fluid text-center bg-1">
				<div style="padding-top:80px; padding-bottom: 20px; color:#f4f4f4;">
					<h2 style="padding-bottom:20px;" >¿Cómo realizo un proyecto?</h2>
				<p>¡Hola! Bienvenid@ a esta sección donde conocerás los pasos que sigo para 
				<br>realizar una pieza visual. En este caso me enfocaré en mostrarte 
				<br>la realización de una fotografía artística.</p>
				</div>
		</section>

		<section id="Idea Proyecto">
			<div style="padding-top:50px; padding-bottom: 20px;" class="container ">
				<div class="row">
				  <div class="col">
					<h2> La idea </h2> <br>
					<p> Primero busco un mensaje que quiera transmitir...
						<br> algún concepto, palabra, frase o canción que quiera representar.
						<br>Esta vez me basé en el siguiente escrito: <br> <br> <br>
						<p> Una vez que sé lo que quiero decir, busco las palabras clave, 
						<br>para así comenzar a buscar los elementos de narración.</p>
					</p>
				  </div>
				  <div class="col">
					<img src="/Proyecto/Concepto.JPG" alt="" class="img-responsive" style="width: 120%;" >
				  </div>
				</div>
			</div>
		</section>

		<section id="Desarrollo Proyecto"class="container-fluid text-center bg-1">
			<div style="padding-top:50px; padding-bottom: 20px; color:#f4f4f4;">
				<h2 style="padding-bottom:50px;" >MoodBoard</h2>
				<img src="/Proyecto/MoodBoard.JPG" alt="" class="img-responsive" style="width: 80%;" >
			<p style="padding-top:50px; padding-bottom: 20px;">Una vez que tengo el concepto, comienzo con el MoodBoard para hacer un rompecabezas con 
			<br>las piezas que quiero tener en mi pieza. Cómo el fondo, el maquillaje, la pose y elementos extra.
			<br>En este caso quería contrastar la intensidad y la tranquilidad, buscando que esa "intensidad" 
			<br>a la que la gente se refiere, quedes reprimida en un frasco y que solo se vea la tranquilidad humana 
			<br>representada en lo blanco no tan prolijo, del fondo.</p>
			</div>
		</section>

		

		<section id="Edición Proyecto">
			<div style="padding-top:50px; padding-bottom: 20px;" class="container">
				<div class="row">
				  <div class="col">
					<h2> Edición</h2> <br>
					<p> Una vez tomada la fotografía, hago una edición rápida de colores desde mi celular, para tener una idea general de la paleta de colores que ayuda a transmitir el mensaje.
				    <br> <br>Finalmente, realizo el montaje y la edición de la fotografía en <br>Adobe Photoshop.
					<br>A continuación te dejo el resultado final de este proyecto.</p>
					
				  </div>
				  <div class="col text-center ">
					<img src="/Proyecto/Compress.jpg" alt="" class="animate__animated animate__slideInRight animate__repeat-3 img-responsive" style="width: 60%; padding-left: 50px;" >
				  </div>
				  
				</div>
			</div>
		</section>
		
		<section id="Resultado Final"class="container-fluid text-center bg-1 ">
			<div style="padding-top:50px; padding-bottom: 20px; color:#f4f4f4;">
				<h2 style="padding-bottom:50px;" >Resultado FInal</h2>
				<img src="/Proyecto/Compress_Edit.jpg" alt="" class="img-responsive" style="width: 50%;" >
			</div>
		</section>

	</main>

	
	
</Layout>