---
import Layout from '../layouts/Layout.astro';
import VideoHead from "../components/VideoHead.astro";
---
<Layout title="Video">
    <main style="padding-top:50px;" class="bg-3 container-responsive" >
        <VideoHead/>
    
    <section id="Videos" class="bg-1">
		<section class="container text-center"> 
			<div style="padding-top:30px; padding-bottom: 30px; color:#f4f4f4;">
				<h2 >Vídeo</h2>
			<p> Aquí conocerás mi trabajo tanto individual 
			<br>como en conjunto con productoras audiovisuales.</p>
			</div>
		</section>
	</section>

		<section id="Proyectos Video">
			<section class="container text-center"> 
				<div style="padding-top:30px; padding-bottom: 30px; color:#1c1c1c;">
					<h2 >Proyectos</h2>
				</div>
				<p style="margin-bottom:50px;">A continuación te dejo dos de los proyectos que 
					<br>he realizado que considero los más significativos para mí.</p>
			</section>
			<div class="row text-center" style="padding-bottom: 100px;">
				<div class="col">
					<a href="https://www.youtube.com/watch?v=wn49HPoZ-Fg"> <img src="/Video/P1.png" alt="Tú siempre" style="width: 70%;"></a>
				</div>
				<div class="col">
					<a href="https://www.youtube.com/watch?v=DfWY_YNd_ss"> <img src="/Video/P2.png" alt="Die Mortis" style="width: 70%;"></a>
				</div>
			  </div>
		</section>

        
		  <section id="Fish Studio" class="bg-1 container-fluid">
			<section class="text-center"> 
				<div style="padding-top:50px; padding-bottom: 30px; color:#f4f4f4;">
					<h2>Fish Studio</h2>
				
				<p style="margin-bottom:50px;padding-top:20px;">Tuve la fortuna de trabajar durante un tiempo con la productora Fish Studio, 
				<br>en la cual pude realizar diferentes proyectos, cómo lo fueron los siguientes 
				<br>videos musicales y el vídeo performance de el Guitarrista Daniel Salceda.</p>
			</div>
			</section>

			<div class="row text-center" style="padding-bottom: 100px;">
				<div class="col">
					<a href="https://www.youtube.com/watch?v=taWDYXLKAW8"> <img src="/Video/P3.png" alt="La llorona" style="width: 90%;"></a>
				</div>
				<div class="col">
					<a href="https://www.youtube.com/watch?v=drQkAJBf9Vs"> <img src="/Video/P4.png" alt="Crisantemos" style="width: 90%;"></a>
				</div>
				<div class="col">
					<a href="https://www.youtube.com/watch?v=swKKSZ_T9Ho"> <img src="/Video/P5.png" alt="Daniel Salceda" style="width: 90%;"></a>
				</div>
			  </div>
		</section>
		

		  <section id="Demo Reel">
			<section class="container text-center"> 
				<div style="padding-top:50px; padding-bottom: 20px; color:#1c1c1c;">
					<h2 >Demo Reel</h2>
				</div>
				<div>
					<p style="margin-bottom:50px;">Finalmente te dejo mi Demo Reel, en el cuál podrás ver una  
					<br>corta recopilación de los trabajos que he realizado en estos últimos años.</p>
					<a href="https://youtu.be/Re_QiaF-d04" > <img src="/Video/P6.png" alt="Demo Reel" style="width: 50%; padding-bottom: 50px;"></a>
				</div>
			</section>
		</section>
	
	
	
	</main>
</Layout>