---
export interface Props{
    titulo: string;
    descripcion: string;
    textoBoton: string;
    imgSrc: string;
}

const { titulo, descripcion, textoBoton, imgSrc} = Astro.props;
---

<div class="card" style="width: 25rem; margin-left:20% ">
    <img src={imgSrc} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{titulo}</h5>
      <p class="card-text">{descripcion}</p>
      <slot/>
      <a href="#" class="btn btn-primary">{textoBoton}</a>
    </div>
</div>